.s-ba56e4bd60f90239639b13b659106abc {
background-image: url(../img/sprite-rem.webp)
}
.webp .s-ba56e4bd60f90239639b13b659106abc {
background-image: url(../img/sprite-rem.webp)
}
.s-ba56e4bd60f90239639b13b659106abc-0 {
background-position: 0 -0px
}
.s-ba56e4bd60f90239639b13b659106abc-1 {
background-position: 0 -85px
}
.s-ba56e4bd60f90239639b13b659106abc-2 {
background-position: 0 -170px
}
.s-ba56e4bd60f90239639b13b659106abc-3 {
background-position: 0 -255px
}
.s-ba56e4bd60f90239639b13b659106abc-4 {
background-position: 0 -340px
}
.s-ba56e4bd60f90239639b13b659106abc-5 {
background-position: 0 -425px
}
.s-ba56e4bd60f90239639b13b659106abc-6 {
background-position: 0 -510px
}
.s-ba56e4bd60f90239639b13b659106abc-7 {
background-position: 0 -595px
}
.s-ba56e4bd60f90239639b13b659106abc-8 {
background-position: 0 -680px
}
.s-ba56e4bd60f90239639b13b659106abc-9 {
background-position: 0 -765px
}
